.App {
  background-color: #808080;
  color:white;
  height: 100vh;
  position: relative;
}

#main-container{
  background-color: white;
  height: 70%;
  width: 50%;
  position: absolute;
  top:10%;
  left:25%;
  text-align: center;
}

#add{
  border-radius: 0;
  margin-top: 10px;
}
